{% extends "base.html" %}
{% block title %}Production vs Consumption{% endblock %}
{% block viz %}
  
    <div class="row justify-content-center">
      <div class="col-sm-12 d-flex justify-content-center">
        <div id="stateButtons">
        </div>
      </div>
    </div>

    <div class = "row justify-content-center">
      <div class = "col-sm-12 d-flex justify-content-center">
        <div id = "chart">
          <!-- place chart here -->
         
        </div>
      </div> 
    </div>
  </div>
</div>
</div>
<div class="row">
<div class="col-xs-6  col-md-4">
  <div class="article">
    <h2>Summary</h2>
    <p> - Only Tasmania saw increased energy use while energy use fell in all other states. This growth was spread across sectors, with residential, manufacturing, agriculture and transport 
      consumption all increasing. Victoria and NSW has recorded a decline in energy consumption. Energy consumption in the Electricity supply sector fell in all states due to the replacement of thermal 
      generation sources such as coal and gas with non-thermal renewables, providing about the same level of national total generation.  
    <p>
</div>
</div>
</div>
{% endblock %}

{% block js %}<script src="{{ url_for('static', filename='consumption_production.js') }}"></script>{% endblock %}
{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/consumption_production.css') }}">{% endblock %}
{% block consumptionproductionactive %}active{% endblock %}
   
</body>
</html>